<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DpiConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TopconTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <DpiConverter.Properties.Settings>
            <setting name="ExportSideshotObservations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportBacksightObservations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportTraverseObservations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ValidateInputFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddOffsetToSideshotPoints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SideshotPointNumberOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UsePredefinedPointCodes" serializeAs="String">
                <value>False</value>
            </setting>
        </DpiConverter.Properties.Settings>
        <TopconTools.Properties.Settings>
            <setting name="ExportSideshotObservations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportBacksightObservations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportTraverseObservations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ValidateInputFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddOffsetToSideshotPoints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SideshotPointNumberOffset" serializeAs="String">
                <value>0</value>
            </setting>
        </TopconTools.Properties.Settings>
    </userSettings>
</configuration>
